body{
    background-color: beige;
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: black;
}
nav{
    position: fixed;
    top:0px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    background-color: black;
    height:auto;
    width: 100%;
    z-index: 1;
}
nav>img{
    padding: 10px 20px;
    max-height: 300px; 
    height: 60px;
    width:auto;
}
input[type="text"]{
    width: 70%;
    min-height: 2.8rem;
    height:fit-content;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}
.save{
    width: 10%;
    height: 50%;
    font-size: 23px;
    border-radius: 5px ;
    background-color: rgb(239, 220, 11);
}
.note{
    width: 70rem;
    height: auto;
    column-count: 4;
    column-gap: 15px;
}
.newP{
     white-space: normal;   /* cho phép xuống dòng */
    word-wrap: break-word; /* ngắt khi quá dài */
    word-break: break-word;
    padding: 0px 5px;
    margin: 5px 5px;
    
}
.margin{
    margin-right: 20px;
}
.newNote{
    position: relative;
    display: inline-block;
    min-height: 10rem;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    background-color: rgba(191, 255, 255, 0.862);
    border: 1.5px solid black;
    margin: 15px;
}
.trash{
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 20px;
    color: #d24314;
}
.newNote:hover .trash{
    opacity: 1;
}
.contain-change-note{
    position: fixed;
    top:5.3rem;
    z-index: 999999;
    background-color: #ddccc992;
    width: 100%;
    height: 100%;
    display: none; 
    overflow-y: scroll;  
}
.change-note{
    display: flex;
    flex-direction: column; 
    align-items: end;
    position: absolute;
    top:5rem;
    left: 30rem;
    border-radius: 10px;
     background-color: #da998e;
}
#change-note{
    width: 30rem;
    height: fit-content;
    font-size: 30px;
    margin-right: 2.5rem;
    margin-top: 3rem;
    padding-left: 15px;
    background-color:#da998e ;
    border: none;
}
#change-note:focus{
    outline: none;
}
.tool{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
#save-2{
    width: 5rem;
    height: 3rem;
    background-color: #da998e ;
    border: none;
}
#save-2:hover{
    background-color: #de2808af;
}
#pin+label, #pin2+label{
    color: #e1caca;
}
#pin:checked+label, #pin2:checked+label{
   
    color: #fd0404;
}
#pin2+label{
    margin-right: 15px;
}
.container{
    margin-top:5.3rem ;
    display: flex;
    flex-direction: column;
}
hr {
  border: none;           /* bỏ viền mặc định */
  height: 2px;            /* độ dày */
  background-color: gray; /* màu đường kẻ */
  margin: 20px 0;         /* khoảng cách trên dưới */
}
.note-pin{
    width: 70rem;
    height: auto;
    column-count: 4;
    column-gap: 15px;
}
.line-text {
    display: flex;
    align-items:center;
}
.text-pin{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 28px;     /* chỉnh cỡ chữ theo ý */
  background-color: #eb826f;
  border-radius: 5px;
  padding:3px 10px;
  margin: 5px;
}
.line-text::before,
.line-text::after {
  content: "";
  border-bottom: 1px solid #000; /* màu đường kẻ */
  margin: 0;                /* khoảng cách chữ với đường */
}
.line-text::after{
    flex: 1;
}
.line-text::before
{
    flex:0.1;
}